<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bhavcodes</title>
    <link rel="stylesheet" href="/Bhavcodes/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <script src="/Bhavcodes/js/script.js" type="module"></script>
</head>
<body class="no-js">
    <main class="main">
        {{ content }}
    </main>
    
    <footer class="footer">
        <p>© <span id="year"></span> nope </p>
    </footer>
    
    <div class="grid-overlay"></div>
</body>
</html>